<div class="col-md-3 mb-3">
    <div class="card book grow">
        <a href="/book/{{this.id}}">
            <img src="{{this.imageUrl}}" alt="{{this.imageUrl}}" class="card-img w-100 d-block">
            <div class="card-img-overlay">
                <h4>{{this.title}}</h4>
            </div>
        </a>
    </div>
</div>