<a class="btn btn-primary" data-toggle="collapse" href="#collapseChat" role="button" aria-expanded="false"
    aria-controls="collapseChat">
    Chat <i class="fas fa-comment-alt"></i>
</a>
<div class="collapse" id="collapseChat">
    <div id="chat">
        <ul class="pages">
            <li class="chat page">
                <div class="chatArea">
                    <ul class="messages"></ul>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control inputMessage" placeholder="Type here..."
                        aria-describedby="sendMessage">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" id="sendMessage">Send</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

{{> chat-scripts}}