{{#if displayChat}}
{{#if loggedIn}}
{{> chat}}
{{/if}}
{{/if}}
<div class="footer footer-basic">
    
    <footer>
        <!-- Start: Social Icons -->
        <div class="social">
            <a href="https://instagram.com" target="_blank">
                <i class="icon ion-social-instagram"></i>
            </a>
            <a href="https://github.com/j-Riv/project_2" target="_blank">
                <i class="icon ion-social-github"></i>
            </a>
            <a href="https://twitter.com" target="_blank">
                <i class="icon ion-social-twitter"></i>
            </a>
            <a href="https://facebook.com" target="_blank">
                <i class="icon ion-social-facebook"></i>
            </a>
        </div>
        <!-- End: Social Icons -->
        <!-- Start: Links -->
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Home</a></li>
            <li class="list-inline-item"><a href="/team">Team</a></li>
            <li class="list-inline-item"><a href="http://j-riv.com/wiifat-presentation/index.html#/start" target="_blank">About</a></li>
            <li class="list-inline-item"><a href="/privacy-policy">Terms</a></li>
            <li class="list-inline-item"><a href="/privacy-policy">Privacy Policy</a></li>
        </ul>
        <!-- End: Links -->
        <!-- Start: Copyright -->
        <p class="copyright">Wiiph@ © 2019</p>
        <!-- End: Copyright -->
    </footer>
</div>

