<div class="input-group" id="searchBarForm">
    <input type="text" class="form-control" aria-label="Search" id="searchBar">
    <div class="input-group-append">
        <button type="button" class="btn" id="searchButton"><i class="fas fa-search text-secondary"></i></button>
        <button type="button" class="btn dropdown-toggle dropdown-toggle-split"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="searchDropDown">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu" id="typeList">
            <a class="dropdown-item" href="#">Title</a>
            <a class="dropdown-item" href="#">Genre</a>
        </div>
    </div>
</div>