<form class="form-inline">
    <input type="text" class="form-control border-right-0 border-secondary" placeholder="Search" aria-label="Search Bar"
        aria-describedby="searchBtn" id="searchBar">
    <div class="input-group-append">
        <button class="btn border-left-0 border-secondary" type="button" id="searchBtn">
            <i class="fas fa-search text-secondary"></i></button>
    </div>
    <i class="fas fa-caret-right grow-double ml-3" id="toggleSwitch"></i>
    <div class="form-group d-none" id="searchOptions">
        <label for="searchBy">Search By</label>
        <select class="form-control" id="searchBy">
            <option value="title">Title</option>
            <option value="genre">Genre</option>
            {{!-- <option value="author">Author</option>
            <option value="book-id">Book ID</option>
            <option value="author-id">Author ID</option> --}}
        </select>
    </div>
</form>