<div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand logo" href="/">Everybooky</a><button class="navbar-toggler"
                data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="d-flex flex-row">
                        <!-- Search Bar Start-->
                        {{> search-bar}}
                        <!-- Search Bar End -->
                    </li>
                </ul>
                <span class="navbar-text actions">
                    <a class="login" data-toggle="modal" data-target="#formModal">Create</a>
                    <a href="/dashboard" class="login">Profile</a>
                    <a class="btn btn-light action-button" role="button" href="/logout"
                        style="background-color: rgb(2,164,211);">Log Out</a>
                </span>
            </div>
        </div>
    </nav>
</div>