<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <link rel="stylesheet" href="/public/css/styles.css">
  <link rel="stylesheet" href="/public/css/wiifat.css">
  <link rel="stylesheet" href="/public/css/homepage.css">
  <link rel="stylesheet" href="/public/css/book.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>
  {{{body}}}
  {{#if loggedIn}}
  {{> create-modal}}
  {{/if}}
  {{#unless isChat}}
    {{#if loggedIn}}
    <a id="goToChat" class="btn btn-primary" data-toggle="collapse" href="#collapseChat" role="button" aria-expanded="false"
      aria-controls="collapseChat">
      Chat <i class="fas fa-comment-alt"></i>
    </a>
    {{> chat}}
    {{/if}}
  {{/unless}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
  <script src="/public/js/scripts.js"></script>
  <script src="/public/js/form.js"></script>
  <script src="/public/js/homepage.js"></script>
  <script src="/public/js/search.js"></script>
</body>

</html>