<div id="pageNotFound" class="container text-center">
  <a href="/"><img src="/public/images/404-page-not-found.jpg" alt="404 Page Not Found" /></a>
    <p>
      <a class="text-center text-black" href="/">← Back To Home</a>
    </p>
</div>
