{{> header}}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Name of Book Will Go Here</h1>
        <p class="lead">Content will be displayed here</p>
        <hr class="my-4">
        {{!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> --}}
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                Add your line!
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Add your line"
                    aria-label="Add your line" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}