<div class="article-list">
    <div class="jumbotron" id="homeBanner">
        <div class="intro my-5">
            <h1 class="text-center text-light logo main-heading">Everybooky</h1>
            <p class="text-center text-light">Write together and share forever.</p>
            <div class="d-flex justify-content-center">
                <i class="fas fa-chevron-circle-down text-light" data-toggle="collapse" data-target="#about"
                    aria-expanded="false" aria-controls="about" id="aboutBtn"></i>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="collapse" id="about">
            <div class="row articles text-center">
                <div class="col-sm-6 col-md-4 item">
                    <img class="img-fluid" src="/public/images/desk.jpg">
                    <h3 class="name">Ideas</h3>
                    <p class="description">Have an idea for a story? Create a new book with others who share the
                        same ideas!</p>
                </div>
                <div class="col-sm-6 col-md-4 item">
                    <img class="img-fluid" src="/public/images/building.jpg">
                    <h3 class="name">Collaborate</h3>
                    <p class="description">You'll be able to write the story line by line with other users!</p>
                </div>
                <div class="col-sm-6 col-md-4 item">
                    <img class="img-fluid" src="/public/images/loft.jpg">
                    <h3 class="name">Share</h3>
                    <p class="description">Once you're finished, share the book with the rest of the world!</p>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>

<div>
    <div class="container">
        <div class="btn-group" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-transparent dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                    type="button" style="background-color: rgba(255,255,255,0.4);color: rgb(157,157,157);" id="sortBtn">Sort By</button>
                <ul class="dropdown-menu dropdown">
                    <li>
                        <a class="dropdown-item" href="/sorted/new">
                            New to Old
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/">
                            Old to New
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/sorted/popular">
                            Popular
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <hr>

        <!-- Displays all books -->
        <div class="container" id="bookContainer">
            <div class="row">
                {{#each books}}
                {{> book}}
                {{/each}}
            </div>
        </div>

    </div>
</div>