<div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="#">Everybooky</a><button class="navbar-toggler"
                data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto"></ul><span class="navbar-text actions"> <a href="#" class="login" data-toggle="modal" data-target="#loginModalCenter">Log
                        In</a><a class="btn btn-light action-button" role="button" href="/login"
                        style="background-color: rgb(90,218,255);">Sign Up</a></span>
            </div>
        </div>
    </nav>
</div>
<div class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Welcome to Everybooky!</h2>
            <p class="text-center">Write together and share forever.</p>
        </div>
        <div class="row articles">
            <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="public/images/desk.jpg"></a>
                <h3 class="name">Ideas</h3>
                <p class="description">Have an idea for a story? You can create a new book with others who share the
                    same ideas!</p>
            </div>
            <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="public/images/building.jpg"></a>
                <h3 class="name">Collaborate</h3>
                <p class="description">This allows people to write along with you on your new book; line for line. The
                    stories can get pretty crazy!</p>
            </div>
            <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="public/images/loft.jpg"></a>
                <h3 class="name">Share</h3>
                <p class="description">Once you're finished, share the book with the rest of the world!</p>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="dropdown"><button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                aria-expanded="false" type="button"
                style="background-color: rgba(255,255,255,0.4);color: rgb(157,157,157);">Sort By</button>
            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First
                    Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a
                    class="dropdown-item" role="presentation" href="#">Third Item</a></div>
        </div>
        <div class="row" style="margin-bottom: 0px;">
            <div class="col-md-3 mb-3">
                <div class="card"></div>
                <div class="card"><img class="card-img w-100 d-block" src="public/images/book-1.jpg">
                    <div class="card-img-overlay">
                        <h4 style="color: rgb(249,252,255);font-family: Anton, sans-serif;">I'm Not Like The Other Lamps
                        </h4>
                        <p style="color: rgb(255,255,255);font-family: Anton, sans-serif;">Author Name</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card"><img class="card-img w-100 d-block" src="public/images/book-3.png">
                    <div class="card-img-overlay">
                        <h3 class="text-center"
                            style="margin: 204px 50px 2px;font-family: Aldrich, sans-serif;font-size: 30px;width: 115px;height: 30px;color: rgb(255,255,255);margin-top: 118px;">
                            PlanetCream Cheese</h3>
                        <p class="text-center"
                            style="margin: 96px 50px 50px;margin-top: 168px;color: rgb(255,255,255);font-family: Aldrich, sans-serif;font-size: 22px;">
                            Author Name</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card" style="margin: 0;"><img class="card-img w-100 d-block" src="public/images/book-4.jpg">
                    <div class="card-img-overlay">
                        <h1 style="font-family: Adamina, serif;width: 221px;margin-top: 4px;margin-left: 8px;">Lost In
                            My Backyard</h1>
                        <p
                            style="margin: 55px;width: 121px;font-family: Adamina, serif;margin-top: 272px;color: rgb(253,254,255);">
                            Author Name</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card"><img class="card-img w-100 d-block" src="public/images/book-5.jpg">
                    <div class="card-img-overlay">
                        <h1 class="text-center" style="color: rgb(255,255,255);font-family: 'Alex Brush', cursive;">Full
                            Moon Buffoon</h1>
                        <p class="text-center"
                            style="font-family: Allerta, sans-serif;margin: 100px;width: 63px;height: 69px;margin-left: 78px;">
                            Author Name</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <div class="card"></div>
                <div class="card"><img class="card-img w-100 d-block" src="public/images/book-6.jpg">
                    <div class="card-img-overlay" style="margin-bottom: 30px;">
                        <h4 class="text-center"
                            style="color: rgb(249,252,255);font-family: Aclonica, sans-serif;margin-top: 66px;">Bad
                            Bathroom Renovations</h4>
                        <p class="text-center"
                            style="color: rgb(255,255,255);font-family: Anton, sans-serif;margin-left: -2px;margin-top: 181px;font-size: 35px;">
                            Author Name</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card"><img class="card-img w-100 d-block" src="public/images/book-7.jpg">
                    <div class="card-img-overlay">
                        <h3 class="text-center"
                            style="margin: 204px 50px 2px;font-family: Allerta, sans-serif;font-size: 30px;width: 115px;height: 30px;color: rgb(255,255,255);margin-top: -2px;margin-bottom: 30px;">
                            How to Hide From The IRS</h3>
                        <p class="text-center" style="margin: 96px 50px 50px;margin-top: 316px;">Author Name</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card" style="margin: 0;"><img class="card-img w-100 d-block" src="public/images/book-8.jpg">
                    <div class="card-img-overlay">
                        <p style="margin: 56px;width: 121px;font-family: Adamina, serif;color: rgb(255,255,255);">Author
                            Name</p>
                        <h1 style="font-family: Adamina, serif;width: 221px;color: rgb(255,255,255);">Literally Grass
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card"><img class="card-img w-100 d-block" src="public/images/book-2.jpg"
                        style="height: 453px;">
                    <div class="card-img-overlay">
                        <h1 class="text-center" style="color: rgb(255,255,255);font-family: 'Alex Brush', cursive;">
                            Mystic Bitch</h1>
                        <p class="text-center"
                            style="font-family: Allerta, sans-serif;margin: 100px;width: 63px;height: 69px;color: rgb(255,255,255);">
                            Author Name</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
                    class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a
                href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Company Name © 2017</p>
    </footer>
</div>
<!-- Start: Modal -->
<div class="modal fade" id="loginModalCenter" tabindex="-1" role="dialog" aria-labelledby="loginCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="loginCenterTitle">Log In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="signin" name="signin" method="post" action="signin">
                    <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-group"><input class="form-control" type="password" name="password"
                            placeholder="Password">
                    </div>
                    <div class="form-group"><button class="btn btn-primary btn-block" type="submit"
                            style="background-color: rgb(2,164,211);">Sign In</button></div><a href="/"
                        class="already">Don't have an
                        account? Sign Up here.</a>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End: Modal -->