<!-- Start: Navigation with Button -->
<div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand" href="#">Everybooky</a><button class="navbar-toggler"
                data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto"></ul><span class="navbar-text actions"> <a href="#" class="login">Log
                        In</a><a class="btn btn-light action-button" role="button" href="#"
                        style="background-color: rgb(2,164,211);">Sign Up</a></span>
            </div>
        </div>
    </nav>
</div>
<!-- End: Navigation with Button -->
<!-- Start: Registration Form with Photo -->
<div class="register-photo">
    <!-- Start: Form Container -->
    <div class="form-container">
        <!-- Start: Image -->
        <div class="image-holder"></div>
        <!-- End: Image -->
        <form method="post">
            <h2 class="text-center"><strong>Create</strong> an account.</h2>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group"><input class="form-control" type="password" name="password-repeat"
                    placeholder="Password (repeat)"></div>
            <div class="form-group">
                <div class="form-check"><label class="form-check-label"><input class="form-check-input"
                            type="checkbox">I agree to the license terms.</label></div>
            </div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit"
                    style="background-color: rgb(2,164,211);">Sign Up</button></div><a href="#" class="already">You
                already have an account? Login here.</a>
        </form>
    </div>
    <!-- End: Form Container -->
</div>
<!-- End: Registration Form with Photo -->
<!-- Start: Footer Basic -->
<div class="footer-basic">
    <footer>
        <!-- Start: Social Icons -->
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
                    class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a
                href="#"><i class="icon ion-social-facebook"></i></a></div>
        <!-- End: Social Icons -->
        <!-- Start: Links -->
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <!-- End: Links -->
        <!-- Start: Copyright -->
        <p class="copyright">Wiiph@ © 2019</p>
        <!-- End: Copyright -->
    </footer>
</div>