{{> header}}
<!-- Start: Registration Form with Photo -->
<div class="register-photo">
    <!-- Start: Form Container -->
    <div class="form-container">
        <!-- Start: Image -->
        <div class="image-holder"></div>
        <!-- End: Image -->
        <form id="signup" name="signup" method="post" action="/signup" class="needs-validation" novalidate>
            <h2 class="text-center"><strong>Create</strong> an account.</h2>
            <div class="form-group">
                <input class="form-control" type="text" name="firstname" placeholder="First Name" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="lastname" placeholder="Last Name" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password" id="password" required>
            </div>
            <div class="form-group"><input class="form-control" type="password" name="password-repeat" placeholder="Password (confirm)" id="confirmPassword" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" required>
                        I agree to the license terms.
                        </label>
                        <div class="invalid-feedback">
                            You must agree before submitting.
                        </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" style="background-color: rgb(2,164,211);">Sign Up</button>
            </div><a href="#" class="already" data-toggle="modal" data-target="#loginModalCenter">You already have an account? Login here.</a>
        </form>
    </div>
    <!-- End: Form Container -->
</div>
<!-- End: Registration Form with Photo -->
{{> footer}}

{{> login-modal}}