<div class="container">
    <div class="row">
        <div class="col-sm-12">
        <h1>Privacy Policy</h1>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-sm-12">
                <p>This Privacy Policy was last modified on (March 5th, 2019).</p>
                <p>Wii F@ ("us", "we", "or", "our") operates Everbooky. This page informs you of our policies regarding the 
                    collection, use and disclosure of Personal Information we receive from users of the Site.</p>
                <p>We use your Personal Information only for providing and improving the Site. Buy using the Site, 
                    you agree to the collection and use of information in accordance with this policy.</p>
                <h6 class="font-weight-bold">Information Collection And Use</h6>
                <p>While using our Site, we may ask you to provide us with certain personally identifiable information that 
                    can be used to contact or identify you. Personally identifiable information may include, but is not limited t
                    o your name and email.</p>
                <h6 class="font-weight-bold">Log Data</h6>
                <p>Like many site operators, we collect information that your browser sends whenever you visit our Site. 
                    This Log Data may include information such as your computer's internet protocol ("IP") address, browser 
                    ype, browser version, the pages of our Site that you visit, the time and date of your visit, the time 
                    spent on those pages and other statistics.</p>
            </div>
        </div>
    </div>

</div>