<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <title>Results</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Results</h1>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img src="../public/images/book-1.jpg" alt="" class="w-100">
                    <div class="card-img-overlay">
                        <h3>Book</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <h1>Book Name</h1>
                <h3>Author Name</h3>
                <h6>Contributors:</h6>
                <p>Dude, Man, Person, Shemale</p>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img src="../public/images/book-2.jpg" alt="" class="w-100">
                    <div class="card-img-overlay">
                        <h3>Book</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <h1>Book Name</h1>
                <h3>Author Name</h3>
                <h6>Contributors:</h6>
                <p>Dude, Man, Person, Shemale</p>
            </div>
        </div>
        <hr>
    </div>
</body>
</html>