<div id="team">
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-4">We are WiiF@</h1>
            <p class="lead">We had the runs now wii just fat.</p>
            <button type="button" class="btn btn-primary" id="viewTeam">More</button>
        </div>
    </div>
    <div class="container">
        <section id="theTeam">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="display-4">Meet the Team</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 team-member">
                    <img src="../public/images/dummy/dummy-profile-photo.jpg" class="card-img-top photo" alt="Dafydd Zephyr">
                    <div class="card-body">
                        <h5 class="name">Dafydd Zephyr</h5>
                        <p class="title">Title</p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                        <div class="row text-center">
                            <div class="col-sm-12">
                                <a class="social-link p-1" href="https://www.linkedin.com/in/dafyddxzephyr/" target="_blank"><i class="fab fa-2x fa-linkedin"></i></a>
                                <a class="social-link p-1" href="https://github.com/helloimdavidhaha" target="_blank"><i class="fab fa-2x fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-12 col-md-6 col-lg-3 team-member">
                    <img src="../public/images/team/j-riv.jpg" class="card-img-top photo" alt="José Rivera">
                    <div class="card-body">
                        <h5 class="name">José Rivera</h5>
                        <p class="title">Software Engineer</p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                        <div class="row text-center">
                            <div class="col-sm-12">
                                <a class="social-link p-1" href="https://www.linkedin.com/in/jose-alfredo-rivera-turcios/" target="_blank"><i class="fab fa-2x fa-linkedin"></i></a>
                                <a class="social-link p-1" href="https://github.com/j-Riv" target="_blank"><i class="fab fa-2x fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-12 col-md-6 col-lg-3 team-member">
                    <img src="../public/images/dummy/dummy-profile-photo.jpg" class="card-img-top photo" alt="Miguel Landin">
                    <div class="card-body">
                        <h5 class="name">Miguel Landin</h5>
                        <p class="title">Title</p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                        <div class="row text-center">
                            <div class="col-sm-12">
                                <a class="social-link p-1" href="https://github.com/MigPerLan" target="_blank"><i class="fab fa-2x fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-12 col-md-6 col-lg-3 team-member">
                    <img src="../public/images/team/tyler.jpg" class="card-img-top photo" alt="Tyler Maples">
                    <div class="card-body">
                        <h5 class="name">Tyler Maples</h5>
                        <p class="title">Title</p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's
                            content.</p>
                        <div class="row text-center">
                            <div class="col-sm-12">
                                <a class="social-link p-1" href="https://github.com/tylerkmaples" target="_blank"><i class="fab fa-2x fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </section>
    </div>
</div>
{{> login-modal}}
<script>
    // scroll to element
    $('#viewTeam').click(function() {
        $('html, body').animate({
            scrollTop: $('#theTeam').offset().top
        }, 2000);
    });
</script>