#editBook {
    #add-line-btn{
        margin-top: 150px;
        background-color: #02a4d3;
        border-color: #02a4d3;
    };

    #addLine{
        background-color: #02a4d3;
        border-color: #02a4d3;
        color: white;
    }
    
}