#homeBanner {
    background-image: url('../images/banner-dark.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0px;
}

#searchBar {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px
}

#searchBtn {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px
}

.main-heading {
    font-size: 5vw;
}

#aboutBtn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.grow:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.grow-double:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all .1s ease-in-out;
}