.footer-basic {
    padding: 40px 0;
    background-color: #fff;
    color: #4b4c4d
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0
}

.footer-basic li {
    padding: 0 10px
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: .8
}

.footer-basic ul a:hover {
    opacity: 1
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: .75
}

.footer-basic .social>a:hover {
    opacity: .9
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0
}

.footer-clean {
    padding: 50px 0;
    background-color: #fff;
    color: #4b4c4d
}

.footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 16px
}

.footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0
}

.footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: .8
}

.footer-clean ul a:hover {
    opacity: 1
}

.footer-clean .item.social {
    text-align: right
}

@media (max-width:768px) {
    .footer-clean .item.social {
        text-align: center
    }
}

.footer-clean .item.social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: .75
}

.footer-clean .item.social>a:hover {
    opacity: .9
}

@media (max-width:991px) {
    .footer-clean .item.social>a {
        margin-top: 40px
    }
}

@media (max-width:767px) {
    .footer-clean .item {
        text-align: center;
        padding-bottom: 20px
    }
    .footer-clean .item.social>a {
        margin-top: 10px
    }
}

.footer-clean .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: .6
}

.navigation-clean-button {
    background: #fff;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #333;
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0
}

@media (min-width:768px) {
    .navigation-clean-button {
        padding-top: 1rem;
        padding-bottom: 1rem
    }
}

.navigation-clean-button .navbar-brand {
    font-weight: 700;
    color: inherit
}

.navigation-clean-button .navbar-brand:hover {
    color: #222
}

.navigation-clean-button .navbar-toggler {
    border-color: #ddd;
    color: #888
}

.navigation-clean-button .navbar-toggler:focus,
.navigation-clean-button .navbar-toggler:hover {
    background: 0 0
}

.navigation-clean-button .form-inline,
.navigation-clean-button .navbar-collapse {
    border-top-color: #ddd
}

.navigation-clean-button .navbar-nav a.active,
.navigation-clean-button .navbar-nav>.show>a {
    background: 0 0;
    box-shadow: none
}

.navigation-clean-button.navbar-light .navbar-nav a.active,
.navigation-clean-button.navbar-light .navbar-nav a.active:focus,
.navigation-clean-button.navbar-light .navbar-nav a.active:hover {
    color: #8f8f8f;
    box-shadow: none;
    background: 0 0;
    pointer-events: none
}

.navigation-clean-button.navbar .navbar-nav .nav-link {
    padding-left: 18px;
    padding-right: 18px
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link {
    color: #465765
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link:focus,
.navigation-clean-button.navbar-light .navbar-nav .nav-link:hover {
    color: #37434d!important;
    background-color: transparent
}

.navigation-clean-button .navbar-nav>li>.dropdown-menu {
    margin-top: -5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    background-color: #fff;
    border-radius: 2px
}

.navigation-clean-button .dropdown-menu .dropdown-item,
.navigation-clean-button .dropdown-menu .dropdown-item:focus {
    line-height: 2;
    font-size: 14px;
    color: #37434d
}

.navigation-clean-button .dropdown-menu .dropdown-item:focus,
.navigation-clean-button .dropdown-menu .dropdown-item:hover {
    background: #eee;
    color: inherit
}

.navigation-clean-button .actions .login {
    margin-right: 1rem;
    text-decoration: none;
    color: #465765
}

.navigation-clean-button .navbar-text .action-button,
.navigation-clean-button .navbar-text .action-button:active,
.navigation-clean-button .navbar-text .action-button:hover {
    background: #56c6c6;
    border-radius: 20px;
    color: #fff;
    box-shadow: none;
    border: none;
    text-shadow: none;
    padding: .5rem 1rem;
    transition: background-color .25s;
    font-size: inherit
}

.navigation-clean-button .navbar-text .action-button:hover {
    background: #66d7d7
}

.register-photo {
    background: #f1f7fc;
    padding: 80px 0
}

.register-photo .image-holder {
    display: table-cell;
    width: auto;
    background: url(../images/meeting.jpg);
    background-size: cover
}

.register-photo .form-container {
    display: table;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1)
}

.register-photo form {
    display: table-cell;
    width: 400px;
    background-color: #fff;
    padding: 40px 60px;
    color: #505e6c
}

@media (max-width:991px) {
    .register-photo form {
        padding: 40px
    }
}

.register-photo form h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px
}

.register-photo form .form-control {
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
    color: inherit;
    text-indent: 6px;
    height: 40px
}

.register-photo form .form-check {
    font-size: 13px;
    line-height: 20px
}

.register-photo form .btn-primary {
    background: #f4476b;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: 0!important
}

.register-photo form .btn-primary:active,
.register-photo form .btn-primary:hover {
    background: #eb3b60
}

.register-photo form .btn-primary:active {
    transform: translateY(1px)
}

.register-photo form .already {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: .9;
    text-decoration: none
}