/* General */
html,
body {
  height: 100%;
  margin: 0;
}

a,
.fas {
  cursor: pointer;
}

.wrapper {
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -207px;
}

.footer,
.push {
  height: 207px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #ced4da;
  box-shadow: none;
}

/* Helpers */
.compressed {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  padding: 0 !important;
  -webkit-transition: height 500ms ease-in-out, opacity 250ms ease-in-out, visibility 250ms ease-in-out;
  -moz-transition: height 500ms ease-in-out, opacity 250ms ease-in-out, visibility 250ms ease-in-out;
  -ms-transition: height 500ms ease-in-out, opacity 250ms ease-in-out, visibility 250ms ease-in-out;
  -o-transition: height 500ms ease-in-out, opacity 250ms ease-in-out, visibility 250ms ease-in-out;
  transition: height 500ms ease-in-out, opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}

.expanded {
  max-height: 100%;
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -ms-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
}

.btn-blue {
  background-color: #02A4D3;
  color: #fff;
  transition: all .5s;
}

.btn-outline-blue {
  color: #02A4D3;
  border: 1px solid #02A4D3;
}

.bg-blue {
  background-color: #02A4D3;
}

.text-blue {
  color: #02A4D3;
}

.text-black {
  color: #000;
}

.circle-image {
  border-radius: 50%;
  object-fit: cover;
}

.huge-text {
  font-size: 5em;
}

.logo {
  font-family: 'Comfortaa', cursive;
}

.footer-basic {
  padding: 40px 0;
  background-color: #fff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.rotate:hover {
  transform: rotate(45deg);
  transition-timing-function: ease-in-out;
  transition: 0.5s;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.footer-clean {
  padding: 50px 0;
  background-color: #fff;
  color: #4b4c4d;
}

.footer-clean h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
}

.footer-clean ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-clean ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-clean ul a:hover {
  opacity: 1;
}

.footer-clean .item.social {
  text-align: right;
}

.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

.footer-clean .copyright {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .footer-clean .item.social > a {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .footer-clean .item {
    text-align: center;
    padding-bottom: 20px;
  }
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}

.navigation-clean-button {
  background: #fff;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0;
}

.navigation-clean-button .navbar-brand {
  font-weight: 700;
  color: inherit;
}

.navigation-clean-button .navbar-brand:hover {
  color: #222;
}

.navigation-clean-button .navbar-toggler {
  border-color: #ddd;
  color: #888;
}

.navigation-clean-button .navbar-toggler:focus, .navigation-clean-button .navbar-toggler:hover {
  background: 0 0;
}

.navigation-clean-button .form-inline,
.navigation-clean-button .navbar-collapse {
  border-top-color: #ddd;
}

.navigation-clean-button .navbar-nav a.active,
.navigation-clean-button .navbar-nav > .show > a {
  background: 0 0;
  box-shadow: none;
}

.navigation-clean-button.navbar-light .navbar-nav a.active {
  color: #8f8f8f;
  box-shadow: none;
  background: 0 0;
  pointer-events: none;
}

.navigation-clean-button.navbar-light .navbar-nav a.active:focus, .navigation-clean-button.navbar-light .navbar-nav a.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: 0 0;
  pointer-events: none;
}

.navigation-clean-button.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px;
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link {
  color: #465765;
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link:focus, .navigation-clean-button.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent;
}

.navigation-clean-button .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 2px;
}

.navigation-clean-button .dropdown-menu .dropdown-item {
  line-height: 2;
  font-size: 14px;
  color: #37434d;
}

.navigation-clean-button .dropdown-menu .dropdown-item:focus {
  line-height: 2;
  font-size: 14px;
  color: #37434d;
  background: #eee;
  color: inherit;
}

.navigation-clean-button .dropdown-menu .dropdown-item:hover {
  background: #eee;
  color: inherit;
}

.navigation-clean-button .actions .login {
  margin-right: 1rem;
  text-decoration: none;
  color: #465765;
}

.navigation-clean-button .navbar-text .action-button {
  background: #56c6c6;
  border-radius: 20px;
  color: #fff;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: .5rem 1rem;
  transition: background-color .25s;
  font-size: inherit;
}

.navigation-clean-button .navbar-text .action-button:active {
  background: #56c6c6;
  border-radius: 20px;
  color: #fff;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: .5rem 1rem;
  transition: background-color .25s;
  font-size: inherit;
}

.navigation-clean-button .navbar-text .action-button:hover {
  background: #56c6c6;
  border-radius: 20px;
  color: #fff;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: .5rem 1rem;
  transition: background-color .25s;
  font-size: inherit;
  background: #66d7d7;
}

@media (min-width: 768px) {
  .navigation-clean-button {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.register-photo {
  background: #f1f7fc;
  padding: 80px 0;
}

.register-photo .image-holder {
  display: table-cell;
  width: auto;
  background: url(../images/meeting.jpg);
  background-size: cover;
}

.register-photo .form-container {
  display: table;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.register-photo form {
  display: table-cell;
  width: 400px;
  background-color: #fff;
  padding: 40px 60px;
  color: #505e6c;
}

.register-photo form h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.register-photo form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: 0;
  color: inherit;
  text-indent: 6px;
  height: 40px;
}

.register-photo form .form-check {
  font-size: 13px;
  line-height: 20px;
}

.register-photo form .btn-primary {
  background: #f4476b;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 35px;
  text-shadow: none;
  outline: 0 !important;
}

.register-photo form .btn-primary:active, .register-photo form .btn-primary:hover {
  background: #eb3b60;
}

.register-photo form .btn-primary:active {
  transform: translateY(1px);
}

.register-photo form .already {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: .9;
  text-decoration: none;
}

@media (max-width: 991px) {
  .register-photo form {
    padding: 40px;
  }
}

#searchBarForm #searchBar {
  border: 1px solid #e9ecef;
}

#searchBarForm .btn {
  border: 1px solid #e9ecef;
}

#searchBarForm .btn:focus {
  border: 1px solid #e9ecef;
}

#searchBarForm #searchDropDown {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

#searchBarForm .dropdown-menu {
  position: absolute;
}

/* Team page */
#team .jumbotron {
  background-image: url(../images/team/team.jpg);
  background-color: #02A4D3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#team .jumbotron .container {
  color: #fff;
  text-shadow: 5px 5px 20px #000;
}

#team .jumbotron .container h1 {
  text-transform: uppercase;
  text-shadow: 5px 5px 20px #000;
}

#team .jumbotron .container p {
  text-shadow: 5px 5px 20px #000;
}

#team #theTeam .team-member {
  padding: 25px;
  box-sizing: border-box;
}

#team #theTeam .team-member .photo {
  border-radius: 50%;
  object-fit: cover;
}

#team #theTeam .team-member h5 {
  margin-bottom: 0;
}

#team #theTeam .team-member .title {
  font-style: italic;
}

/* Chat page */
#goToChat,
.go-to-chat {
  position: fixed;
  bottom: 0;
}

#chatWrapper {
  position: fixed;
  z-index: 10000;
  height: 500px;
  width: 400px;
  max-width: 100%;
  right: 0;
  left: 0;
  bottom: -458px;
}

#chatWrapper .nav-tabs {
  border-bottom: 1px solid #e9ecef;
}

#chatWrapper .nav-tabs #letsChat {
  background-color: #e9ecef;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #e9ecef;
  margin-bottom: -2px;
}

#chatWrapper.slide-up {
  bottom: 0px !important;
}

#chatWrapper.slide-down {
  bottom: -458px !important;
}

#chatWrapper #chat {
  width: 400px;
  max-width: 100%;
  height: 100%;
  display: block;
  padding: 10px;
  background: #e9ecef;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top-right-radius: .25rem;
}

#chatWrapper #chat .chatArea {
  height: 80%;
}

#chatWrapper #chat .chatArea .username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

#chatWrapper #chat .chatArea .messages {
  text-align: left;
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  font-size: 100%;
  list-style: none;
  padding: 0;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

#chatWrapper #chat .chatArea .messages::-webkit-scrollbar {
  display: none;
}

#chatWrapper #chat .chatArea .log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  list-style: none;
  text-align: center;
}

#chatWrapper #chat .chatArea .message.typing .messageBody {
  color: gray;
}

#chatWrapper #chat #chatForm {
  width: 90%;
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

#chatWrapper #chat #chatForm #chatPhoto {
  height: 38px;
  width: auto;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

#chatWrapper #chat #chatForm input:focus {
  border-color: transparent;
}

@media screen and (max-width: 480px) {
  #chatWrapper {
    width: 100%;
  }
  #chatWrapper #chat {
    width: 100%;
  }
}

.book {
  height: 300px;
  background-color: #e9ecef;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.book h4 {
  color: #fff;
  text-transform: uppercase;
  text-shadow: 5px 5px 20px #000;
}

#pageNotFound img {
  max-width: 100%;
}

.edit-line {
  cursor: pointer;
}

#homeBanner {
  background-image: url("../images/banner-dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0px;
}

#searchBar {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

#searchBtn {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.main-heading {
  font-size: 5vw;
}

#aboutBtn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.grow:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.grow-double:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all .1s ease-in-out;
}

#editBook #add-line-btn {
  margin-top: 150px;
  background-color: #02a4d3;
  border-color: #02a4d3;
}

#editBook #addLine {
  background-color: #02a4d3;
  border-color: #02a4d3;
  color: white;
}

#editBook #contList {
  list-style-type: none;
}
