/* General */
html,
body {
  height: 100%;
  margin: 0;
}

a {
  cursor: pointer;
}

.wrapper {
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -207px;
}

.footer,
.push {
  height: 207px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #ced4da;
  box-shadow: none;
}

/* Helpers */
.compressed {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  padding: 0 !important;
  -webkit-transition: height 500ms ease-in-out, opacity 250ms ease-in-out, visibility 250ms ease-in-out;
  -moz-transition: height 500ms ease-in-out, opacity 250ms ease-in-out, visibility 250ms ease-in-out;
  -ms-transition: height 500ms ease-in-out, opacity 250ms ease-in-out, visibility 250ms ease-in-out;
  -o-transition: height 500ms ease-in-out, opacity 250ms ease-in-out, visibility 250ms ease-in-out;
  transition: height 500ms ease-in-out, opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}

.expanded {
  max-height: 100%;
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -ms-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
}

.btn-blue {
  background-color: #02A4D3;
  color: #fff;
  transition: all .5s;
}

.circle-image {
  border-radius: 50%;
  object-fit: cover;
}

/* Team page */
#team .jumbotron {
  background-image: url(../images/team/team.jpg);
  background-color: #02A4D3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#team .jumbotron .container {
  color: #fff;
}

#team .jumbotron .container h1 {
  text-transform: uppercase;
}

#team #theTeam .team-member {
  padding: 25px;
  box-sizing: border-box;
}

#team #theTeam .team-member .photo {
  border-radius: 50%;
  object-fit: cover;
}

#team #theTeam .team-member h5 {
  margin-bottom: 0;
}

#team #theTeam .team-member .title {
  font-style: italic;
}

/* Chat page */
#goToChat,
.go-to-chat {
  position: fixed;
  bottom: 0;
}

#chatWrapper {
  position: fixed;
  z-index: 10000;
  text-align: center;
  height: 500px;
  width: 400px;
  max-width: 100%;
  right: 0;
  left: 0;
  bottom: -458px;
}

#chatWrapper .nav-tabs {
  border-bottom: 1px solid #e9ecef;
}

#chatWrapper .nav-tabs #letsChat {
  background-color: #e9ecef;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #e9ecef;
  margin-bottom: -2px;
}

#chatWrapper.slide-up {
  bottom: 0px !important;
}

#chatWrapper.slide-down {
  bottom: -458px !important;
}

#chatWrapper #chat {
  width: 400px;
  max-width: 100%;
  height: 100%;
  display: block;
  padding: 10px;
  background: #e9ecef;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top-right-radius: .25rem;
}

#chatWrapper #chat .chatArea {
  height: 80%;
}

#chatWrapper #chat .chatArea .username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

#chatWrapper #chat .chatArea .messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  font-size: 150%;
  list-style: none;
  padding: 0;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

#chatWrapper #chat .chatArea .messages::-webkit-scrollbar {
  display: none;
}

#chatWrapper #chat .chatArea .log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  list-style: none;
}

#chatWrapper #chat .chatArea .message.typing .messageBody {
  color: gray;
}

#chatWrapper #chat #chatForm {
  width: 90%;
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

#chatWrapper #chat #chatForm #chatPhoto {
  height: 38px;
  width: auto;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

#chatWrapper #chat #chatForm input:focus {
  border-color: transparent;
}

@media screen and (max-width: 480px) {
  #chatWrapper {
    width: 100%;
  }
  #chatWrapper #chat {
    width: 100%;
  }
}

.book {
  height: 300px;
  background-color: #e9ecef;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.book a {
  color: #fff;
  text-transform: uppercase;
  text-shadow: 5px 5px 20px #000;
}
