/* General */
html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -207px;
}

.footer,
.push {
  height: 207px;
}

#goToChat {
  position: fixed;
  bottom: 0;
  right: 15px;
}

/* Team page */
#team .jumbotron {
  background-image: url(../images/team/team.jpg);
  background-color: #02a4d3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#team .jumbotron .container {
  color: #fff;
}

#team .jumbotron .container h1 {
  text-transform: uppercase;
}

#team #theTeam .team-member {
  padding: 25px;
  box-sizing: border-box;
}

#team #theTeam .team-member .photo {
  border-radius: 50%;
  object-fit: cover;
}

#team #theTeam .team-member h5 {
  margin-bottom: 0;
}

#team #theTeam .team-member .title {
  font-style: italic;
}

/* Chat page */
#chat {
  width: 400px;
  max-width: 80%;
  display: block;
  margin: auto;
  border: 2px solid #000;
  border-bottom: none;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 10px;
  position: fixed;
  bottom: 0;
  right: 96px;
  background: #e9ecef;
}

#chat .pages {
  list-style: none;
  padding: 0;
}

#chat .pages .chatArea {
  height: 100%;
  padding-bottom: 60px;
  padding-left: 0;
}

#chat .pages .chatArea .username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

#chat .pages .chatArea .messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  font-size: 150%;
  list-style: none;
  padding: 0;
}

#chat .pages .chatArea .log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  list-style: none;
}

#chat .pages .chatArea .message.typing .messageBody {
  color: gray;
}
