// variables
// screen sizes
$small: 480px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
// colors
$blue: #02A4D3;
$darker-blue: #0183A8;
$grey: #e9ecef;

/* General */

html,
body {
    height: 100%;
    margin: 0;
}

a,
.fas {
    cursor: pointer;
}

.wrapper {
    min-height: 100%;
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -207px;
}

.footer,
.push {
    height: 207px;
}

// bootstrap overrides
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #ced4da;
    box-shadow: none;
    // outline: 0 none;
}


/* Helpers */

@mixin prefix($property, $value) {
    -webkit-#{$property}: #{$value};
    -moz-#{$property}: #{$value};
    -ms-#{$property}: #{$value};
    -o-#{$property}: #{$value};
    #{$property}: #{$value};
}

.compressed {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    padding: 0 !important;
    @include prefix('transition', 'height 500ms ease-in-out, opacity 250ms ease-in-out, visibility 250ms ease-in-out');
}

.expanded {
    max-height: 100%;
    visibility: visible;
    opacity: 1;
    @include prefix('transition-delay', '0ms');
}

.btn-blue {
    background-color: $blue;
    color: #fff;
    transition: all .5s;
    // &:hover {
    //     background-color: $darker-blue;
    //     background-color: #fff;
    // }
}

.bg-blue {
    background-color: $blue;
}

.text-blue {
    color: $blue;
}

.text-black {
    color: #000;
}

.circle-image {
    border-radius: 50%;
    object-fit: cover;
}

.huge-text {
    font-size: 5em;
}

// search
#searchBarForm {
    #searchBar {
        border: 1px solid $grey;
    }
    .btn {
        border: 1px solid $grey;
        &:focus {
            border: 1px solid $grey;
            // box-shadow: none;
        }
    }
    #searchDropDown {
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    // fix for mobile
    .dropdown-menu {
        position: absolute;
    }
}


/* Team page */

#team {
    .jumbotron {
        background-image: url(../images/team/team.jpg);
        background-color: $blue;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .container {
            color: #fff;
            h1 {
                text-transform: uppercase;
            }
        }
    }
    #theTeam {
        .team-member {
            padding: 25px;
            box-sizing: border-box;
            .photo {
                border-radius: 50%;
                object-fit: cover;
            }
            h5 {
                margin-bottom: 0;
            }
            .title {
                font-style: italic;
            }
        }
    }
}


/* Chat page */

#goToChat,
.go-to-chat {
    position: fixed;
    bottom: 0;
    // right: 15px;
    // width: 81px;
}

#chatWrapper {
    .nav-tabs {
        border-bottom: 1px solid $grey;
        #letsChat {
            background-color: $grey;
            border-top: 1px solid #000;
            border-left: 1px solid #000;
            border-right: 1px solid #000;
            border-bottom: 1px solid $grey;
            margin-bottom: -2px;
        }
    }
    position: fixed;
    z-index: 10000;
    text-align: center;
    height: 500px;
    width: 400px;
    max-width: 100%;
    right: 0;
    left: 0;
    // margin-right: auto;
    // margin-left: auto;
    bottom: -458px;
    &.slide-up {
        bottom: 0px !important;
    }
    &.slide-down {
        bottom: -458px !important;
    }
    #chat {
        width: 400px;
        max-width: 100%;
        height: 100%;
        display: block;
        padding: 10px;
        background: $grey;
        border-top: 1px solid #000;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
        border-top-right-radius: .25rem;
        .chatArea {
            height: 80%;
            .username {
                font-weight: 700;
                overflow: hidden;
                padding-right: 15px;
                text-align: right;
            }
            .messages {
                height: 100%;
                margin: 0;
                overflow-y: scroll;
                font-size: 150%;
                list-style: none;
                padding: 0;
                -ms-overflow-style: none; // IE 10+
                overflow: -moz-scrollbars-none; // firefox
                &::-webkit-scrollbar {
                    display: none; // chrome & safari
                }
            }
            .log {
                color: gray;
                font-size: 70%;
                margin: 5px;
                list-style: none;
            }
            .message.typing .messageBody {
                color: gray;
            }
        }
        #chatForm {
            width: 90%;
            margin: auto;
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            #chatPhoto {
                height: 38px;
                width: auto;
                border-top-left-radius: .25rem;
                border-bottom-left-radius: .25rem;
            }
            input:focus {
                border-color: transparent;
            }
        }
    }
    @media screen and (max-width: $small) {
        width: 100%;
        #chat {
            width: 100%;
        }
    }
}

// book partial
.book {
    height: 300px;
    background-color: $grey;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    a {
        color: #fff;
        text-transform: uppercase;
        text-shadow: 5px 5px 20px #000;
    }
}

// 404 page
#pageNotFound {
    img {
        max-width: 100%;
    }
}