// screen sizes
$small: 480px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
// colors
$blue: #02A4D3;
$darker-blue: #0183A8;
$grey: #e9ecef;

/* General */

html,
body {
    height: 100%;
    margin: 0;
}

a,
.fas {
    cursor: pointer;
}

.wrapper {
    min-height: 100%;
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -207px;
}

.footer,
.push {
    height: 207px;
}

// bootstrap overrides
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #ced4da;
    box-shadow: none;
    // outline: 0 none;
}


/* Helpers */

@mixin prefix($property, $value) {
    -webkit-#{$property}: #{$value};
    -moz-#{$property}: #{$value};
    -ms-#{$property}: #{$value};
    -o-#{$property}: #{$value};
    #{$property}: #{$value};
}

.compressed {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    padding: 0 !important;
    @include prefix('transition', 'height 500ms ease-in-out, opacity 250ms ease-in-out, visibility 250ms ease-in-out');
}

.expanded {
    max-height: 100%;
    visibility: visible;
    opacity: 1;
    @include prefix('transition-delay', '0ms');
}

.btn-blue {
    background-color: $blue;
    color: #fff;
    transition: all .5s;
}

.btn-outline-blue {
    color: $blue;
    border: 1px solid $blue;
}

.bg-blue {
    background-color: $blue;
}

.text-blue {
    color: $blue;
}

.text-black {
    color: #000;
}

.circle-image {
    border-radius: 50%;
    object-fit: cover;
}

.huge-text {
    font-size: 5em;
}

// styles css 
.logo {
    font-family: 'Comfortaa', cursive;
}

.footer-basic {
    padding: 40px 0;
    background-color: #fff;
    color: #4b4c4d;
    ul {
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
    }
    li {
        padding: 0 10px;
    }
}

.rotate:hover {
    transform: rotate(45deg);
    transition-timing-function: ease-in-out;
    transition: 0.5s;
}

.footer-basic {
    ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
        &:hover {
            opacity: 1;
        }
    }
    .social {
        text-align: center;
        padding-bottom: 25px;
        >a {
            font-size: 24px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #ccc;
            margin: 0 8px;
            color: inherit;
            opacity: 0.75;
            &:hover {
                opacity: 0.9;
            }
        }
    }
    .copyright {
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: #aaa;
        margin-bottom: 0;
    }
}

.footer-clean {
    padding: 50px 0;
    background-color: #fff;
    color: #4b4c4d;
    h3 {
        margin-top: 0;
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 16px;
    }
    ul {
        padding: 0;
        list-style: none;
        line-height: 1.6;
        font-size: 14px;
        margin-bottom: 0;
        a {
            color: inherit;
            text-decoration: none;
            opacity: 0.8;
            &:hover {
                opacity: 1;
            }
        }
    }
    .item.social {
        text-align: right;
        >a {
            font-size: 24px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #ccc;
            margin-left: 10px;
            margin-top: 22px;
            color: inherit;
            opacity: 0.75;
            &:hover {
                opacity: 0.9;
            }
        }
    }
    .copyright {
        margin-top: 14px;
        margin-bottom: 0;
        font-size: 13px;
        opacity: 0.6;
    }
}

@media (max-width: 768px) {
    .footer-clean .item.social {
        text-align: center;
    }
}

@media (max-width: 991px) {
    .footer-clean .item.social>a {
        margin-top: 40px;
    }
}

@media (max-width: 767px) {
    .footer-clean .item {
        text-align: center;
        padding-bottom: 20px;
        &.social>a {
            margin-top: 10px;
        }
    }
}

.navigation-clean-button {
    background: #fff;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #333;
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
    .navbar-brand {
        font-weight: 700;
        color: inherit;
        &:hover {
            color: #222;
        }
    }
    .navbar-toggler {
        border-color: #ddd;
        color: #888;
        &:focus,
        &:hover {
            background: 0 0;
        }
    }
    .form-inline,
    .navbar-collapse {
        border-top-color: #ddd;
    }
    .navbar-nav {
        a.active,
        >.show>a {
            background: 0 0;
            box-shadow: none;
        }
    }
    &.navbar-light .navbar-nav a.active {
        color: #8f8f8f;
        box-shadow: none;
        background: 0 0;
        pointer-events: none;
        &:focus,
        &:hover {
            color: #8f8f8f;
            box-shadow: none;
            background: 0 0;
            pointer-events: none;
        }
    }
    &.navbar .navbar-nav .nav-link {
        padding-left: 18px;
        padding-right: 18px;
    }
    &.navbar-light .navbar-nav .nav-link {
        color: #465765;
        &:focus,
        &:hover {
            color: #37434d !important;
            background-color: transparent;
        }
    }
    .navbar-nav>li>.dropdown-menu {
        margin-top: -5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        border-radius: 2px;
    }
    .dropdown-menu .dropdown-item {
        line-height: 2;
        font-size: 14px;
        color: #37434d;
        &:focus {
            line-height: 2;
            font-size: 14px;
            color: #37434d;
            background: #eee;
            color: inherit;
        }
        &:hover {
            background: #eee;
            color: inherit;
        }
    }
    .actions .login {
        margin-right: 1rem;
        text-decoration: none;
        color: #465765;
    }
    .navbar-text .action-button {
        border-radius: 20px;
        color: #fff;
        box-shadow: none;
        border: none;
        text-shadow: none;
        padding: .5rem 1rem;
        transition: background-color .25s;
        font-size: inherit;
        &:active {
            background: #56c6c6;
            border-radius: 20px;
            color: #fff;
            box-shadow: none;
            border: none;
            text-shadow: none;
            padding: .5rem 1rem;
            transition: background-color .25s;
            font-size: inherit;
        }
        &:hover {
            background: #56c6c6;
            border-radius: 20px;
            color: #fff;
            box-shadow: none;
            border: none;
            text-shadow: none;
            padding: .5rem 1rem;
            transition: background-color .25s;
            font-size: inherit;
            background: #66d7d7;
        }
    }
}

@media (min-width: 768px) {
    .navigation-clean-button {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.register-photo {
    background: #f1f7fc;
    padding: 80px 0;
    .image-holder {
        display: table-cell;
        width: auto;
        background: url(../images/meeting.jpg);
        background-size: cover;
    }
    .form-container {
        display: table;
        max-width: 900px;
        width: 90%;
        margin: 0 auto;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    }
    form {
        display: table-cell;
        width: 400px;
        background-color: #fff;
        padding: 40px 60px;
        color: #505e6c;
        h2 {
            font-size: 24px;
            line-height: 1.5;
            margin-bottom: 30px;
        }
        .form-control {
            background: #f7f9fc;
            border: none;
            border-bottom: 1px solid #dfe7f1;
            border-radius: 0;
            box-shadow: none;
            outline: 0;
            color: inherit;
            text-indent: 6px;
            height: 40px;
        }
        .form-check {
            font-size: 13px;
            line-height: 20px;
        }
        .btn-primary {
            background: #f4476b;
            border: none;
            border-radius: 4px;
            padding: 11px;
            box-shadow: none;
            margin-top: 35px;
            text-shadow: none;
            outline: 0 !important;
            &:active,
            &:hover {
                background: #eb3b60;
            }
            &:active {
                transform: translateY(1px);
            }
        }
        .already {
            display: block;
            text-align: center;
            font-size: 12px;
            color: #6f7a85;
            opacity: .9;
            text-decoration: none;
        }
    }
}

@media (max-width: 991px) {
    .register-photo form {
        padding: 40px;
    }
}

// search
#searchBarForm {
    #searchBar {
        border: 1px solid $grey;
    }
    .btn {
        border: 1px solid $grey;
        &:focus {
            border: 1px solid $grey;
            // box-shadow: none;
        }
    }
    #searchDropDown {
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    // fix for mobile
    .dropdown-menu {
        position: absolute;
    }
}


/* Team page */

#team {
    .jumbotron {
        background-image: url(../images/team/team.jpg);
        background-color: $blue;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .container {
            color: #fff;
            text-shadow: 5px 5px 20px #000;
            h1 {
                text-transform: uppercase;
                text-shadow: 5px 5px 20px #000;
            }
            p {
                text-shadow: 5px 5px 20px #000;
            }
        }
    }
    #theTeam {
        .team-member {
            padding: 25px;
            box-sizing: border-box;
            .photo {
                border-radius: 50%;
                object-fit: cover;
            }
            h5 {
                margin-bottom: 0;
            }
            .title {
                font-style: italic;
            }
        }
    }
}


/* Chat page */

#goToChat,
.go-to-chat {
    position: fixed;
    bottom: 0;
    // right: 15px;
    // width: 81px;
}

#chatWrapper {
    position: fixed;
    z-index: 10000;
    height: 500px;
    width: 400px;
    max-width: 100%;
    right: 0;
    left: 0;
    // margin-right: auto;
    // margin-left: auto;
    bottom: -458px;
    .nav-tabs {
        border-bottom: 1px solid $grey;
        #letsChat {
            background-color: $grey;
            border-top: 1px solid #000;
            border-left: 1px solid #000;
            border-right: 1px solid #000;
            border-bottom: 1px solid $grey;
            margin-bottom: -2px;
        }
    }
    &.slide-up {
        bottom: 0px !important;
    }
    &.slide-down {
        bottom: -458px !important;
    }
    #chat {
        width: 400px;
        max-width: 100%;
        height: 100%;
        display: block;
        padding: 10px;
        background: $grey;
        border-top: 1px solid #000;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
        border-top-right-radius: .25rem;
        .chatArea {
            height: 80%;
            .username {
                font-weight: 700;
                overflow: hidden;
                padding-right: 15px;
                text-align: right;
            }
            .messages {
                text-align: left;
                height: 100%;
                margin: 0;
                overflow-y: scroll;
                font-size: 100%;
                list-style: none;
                padding: 0;
                -ms-overflow-style: none; // IE 10+
                overflow: -moz-scrollbars-none; // firefox
                &::-webkit-scrollbar {
                    display: none; // chrome & safari
                }
            }
            .log {
                color: gray;
                font-size: 70%;
                margin: 5px;
                list-style: none;
                text-align: center;
            }
            .message.typing .messageBody {
                color: gray;
            }
        }
        #chatForm {
            width: 90%;
            margin: auto;
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            #chatPhoto {
                height: 38px;
                width: auto;
                border-top-left-radius: .25rem;
                border-bottom-left-radius: .25rem;
            }
            input:focus {
                border-color: transparent;
            }
        }
    }
    @media screen and (max-width: $small) {
        width: 100%;
        #chat {
            width: 100%;
        }
    }
}

// book partial
.book {
    height: 300px;
    background-color: $grey;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    h4 {
        color: #fff;
        text-transform: uppercase;
        text-shadow: 5px 5px 20px #000;
    }
}

// 404 page
#pageNotFound {
    img {
        max-width: 100%;
    }
}

// organize this stuff
.edit-line {
    cursor: pointer;
}

// homepage css
#homeBanner {
    background-image: url('../images/banner-dark.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0px;
}

#searchBar {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px
}

#searchBtn {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px
}

.main-heading {
    font-size: 5vw;
}

#aboutBtn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.grow:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.grow-double:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all .1s ease-in-out;
}

// book css
#editBook {
    #add-line-btn {
        margin-top: 150px;
        background-color: #02a4d3;
        border-color: #02a4d3;
    }
    ;
    #addLine {
        background-color: #02a4d3;
        border-color: #02a4d3;
        color: white;
    }
    ;
    #contList {
        list-style-type: none;
    }
}